.main-cont {
    max-width: 700px;
    margin: 0 auto;
}

.container {
    padding-top: 60px;
}


.thumbnail {
    height: 40px;
    width: auto;
    border-radius: 40px;
    margin: 0 10px;
}

.user-sec {
    padding: 20px 0;
}